
## Access DB2 on Cloud using Python

In [ ]:
!pip install --upgrade ibm_db
!pip install --upgrade ibm_db_sa
!pip install --upgrade SQLAlchemy
import ibm_db
import ibm_db_sa
import sqlalchemy

Collecting ibm_db
  Downloading ibm_db-3.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (43.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 MB 3.1 MB/s eta 0:00:00
Installing collected packages: ibm_db
Successfully installed ibm_db-3.2.3
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.0-py3-none-any.whl (31 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in /usr/local/lib/python3.10/dist-packages (from ibm_db_sa) (2.0.30)
Requirement already satisfied: ibm-db>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ibm_db_sa) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (3.0.3)
Installing collected packages: ibm_db_sa
Successfully installed ibm_db_sa-0.4.0
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (3.0.3)

In [ ]:
#Identifica las claves de acceso para conectarse a la base de datos:
dsn_hostname = "fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"  # El hostname de tu base de datos
dsn_uid = "wtm13096"  # Tu nombre de usuario para la base de datos
dsn_pwd = "R9OofrMKIorYnca1"  # Tu contraseña para la base de datos
dsn_driver = "{IBM DB2 ODBC DRIVER}"  # El controlador ODBC de IBM DB2, asegúrate de tenerlo instalado
dsn_database = "bludb"  # El nombre de tu base de datos
dsn_port = 32731  # El puerto de tu base de datos
dsn_protocol = "TCPIP"  # El protocolo de conexión, comúnmente utilizado es TCP/IP
dsn_security = "SSL"  # El nivel de seguridad, en este caso, SSL

In [ ]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  wtm13096 on host:  fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud

In [ ]:
ibm_db.close(conn)

True

In [ ]:
#Recuperar los Metadatos para la Servidor de Base de Datos
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0900
DB_NAME:    BLUDB

In [ ]:
#Recuperar los Metadatos para la Base de Datos Cliente / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME)
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.05.0900
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

## Consulta de tablas:

In [ ]:
import pandas
import ibm_db_dbi
#conexión con pandas
pconn = ibm_db_dbi.Connection(conn)
#Declaración para devolver todas las filas de la tabla CHICAGO_CRIME_DATA
selectQuery = "select * from CHICAGO_CRIME_DATA"

#devolver los resultados de la busqueda dentro de un dataframe pandas
pdf = pandas.read_sql(selectQuery, pconn)
pdf

<ipython-input-6-0e9d493d37d6>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pdf = pandas.read_sql(selectQuery, pconn)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,28/8/2004,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSO,FALSO,...,14.0,58.0,6,1155838.0,1873050.0,2004,10/2/2018,4.180744e+08,-8.770396e+09,"(41.8074405, -87.703955849)"
1,3406613,HK456306,26/6/2004,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSO,FALSO,...,27.0,23.0,6,1152206.0,1906127.0,2004,28/2/2018,4.189828e+09,-8.771641e+09,"(41.898279962, -87.716405505)"
2,8002131,HT233595,4/4/2011,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,FALSO,FALSO,...,3.0,38.0,6,1177436.0,1876313.0,2011,10/2/2018,4.181593e+09,-8.762464e+09,"(41.815933131, -87.624642127)"
3,7903289,HT133522,30/12/2010,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,FALSO,FALSO,...,7.0,46.0,6,1194622.0,1850125.0,2010,10/2/2018,4.174367e+09,-8.756246e+09,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2/2/2016,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSO,FALSO,...,15.0,66.0,6,1155240.0,1860661.0,2016,10/2/2018,4.177346e+08,-8.770648e+09,"(41.773455295, -87.706480471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,10453948,HZ192829,1/3/2016,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,FALSO,FALSO,...,7.0,46.0,26,1196679.0,1853139.0,2016,10/2/2018,4.175189e+09,-8.755483e+07,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,29/1/2016,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,FALSO,FALSO,...,2.0,28.0,26,1172257.0,1897564.0,2016,10/2/2018,4.187436e+09,-8.764301e+09,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,8/11/2003,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,FALSO,FALSO,...,21.0,71.0,04B,1169648.0,1851076.0,2003,28/2/2018,4.174685e+09,-8.765394e+09,"(41.746852486, -87.653941385)"
531,10840565,JA143710,6/2/2017,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,FALSO,VERDADERO,...,37.0,23.0,26,1148881.0,1905963.0,2017,14/2/2017,4.189789e+09,-8.772862e+09,"(41.89789489, -87.728622316)"
532,1326195,G021609,11/1/2001,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,VERDADERO,VERDADERO,...,NaN,NaN,08B,1196869.0,1847416.0,2001,17/8/2015,4.173618e+09,-8.755432e+09,"(41.73617608, -87.554319607)"

In [ ]:
pdf.describe()

,ID,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE
count,5.330000e+02,533.000000,533.000000,490.000000,490.000000,5.290000e+02,5.290000e+02,533.00000,5.290000e+02,5.290000e+02
mean,6.228301e+06,1187.037523,11.195122,22.608163,37.542857,1.162876e+06,1.886223e+06,2008.34334,3.923786e+09,-8.082934e+09
std,3.027454e+06,660.592263,6.496631,13.080119,21.409514,1.650197e+04,3.009980e+04,4.94940,9.658522e+08,2.250010e+09
min,2.114900e+04,111.000000,1.000000,1.000000,1.000000,1.100658e+06,1.814512e+06,2001.00000,4.175010e+07,-8.790523e+09
25%,3.420516e+06,711.000000,6.000000,12.000000,23.000000,1.151715e+06,1.860454e+06,2004.00000,4.175817e+09,-8.771319e+09
50%,6.231712e+06,1111.000000,10.000000,24.000000,30.000000,1.163235e+06,1.891447e+06,2008.00000,4.184686e+09,-8.766861e+09
75%,8.875058e+06,1634.000000,16.000000,32.000000,58.000000,1.174618e+06,1.907711e+06,2012.00000,4.190093e+09,-8.762512e+09
max,1.127717e+07,2535.000000,25.000000,50.000000,77.000000,1.204126e+06,1.951001e+06,2018.00000,4.201270e+09,-8.769213e+06

In [ ]:
#Declaración para devolver todas las filas de la tabla CENSUS_DATA
selectQuery = "select * from CENSUS_DATA"

#devolver los resultados de la busqueda dentro de un dataframe pandas
censo = pandas.read_sql(selectQuery, pconn)
censo

<ipython-input-10-ad8bb3d99f69>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  censo = pandas.read_sql(selectQuery, pconn)

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1,Rogers Park,77,236,87,182,275,23939,39
1,2,West Ridge,78,172,88,208,385,23040,46
2,3,Uptown,38,24,89,118,222,35787,20
3,4,Lincoln Square,34,109,82,134,255,37524,17
4,5,North Center,3,75,52,45,262,57123,6
...,...,...,...,...,...,...,...,...,...
72,73,Washington Height,11,169,208,137,426,19713,48
73,74,Mount Greenwood,1,34,87,43,368,34381,16
74,75,Morgan Park,8,132,15,108,403,27149,30
75,76,O'Hare,36,154,71,109,303,25828,24
76,77,Edgewater,41,182,92,97,238,33385,19

In [ ]:
#Declaración para devolver todas las filas de la tabla CHICAGO_PUBLIC_SCHOOLS
selectQuery = "select * from CHICAGO_PUBLIC_SCHOOLS "

#devolver los resultados de la busqueda dentro de un dataframe pandas
esc = pandas.read_sql(selectQuery, pconn)
esc

<ipython-input-11-ec28dfd02f8a>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  esc = pandas.read_sql(selectQuery, pconn)

,SCHOOL_ID,NAME_OF_SCHOOL,ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL,STREET_ADDRESS,CITY,STATE,ZIP_CODE,PHONE_NUMBER,LINK,NETWORK_MANAGER,...,RCDTS_CODE,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,WARD,POLICE_DISTRICT,LOCATION
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,"1,5E+14",1157809015,1889554623,4185269133,-8769627777,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,"1,5E+14",1137482296,19193949,4193496641,-8777016525,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,"1,5E+14",1161016902,1934466545,41975867,-8768325438,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,"1,5E+14",1151767546,1908130068,4190378521,-8771796315,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,"1,5E+14",1166133893,1859929018,4177122181,-8766656657,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610506,TEAM Englewood Community Academy High School,HS,6201 S Stewart Ave,Chicago,IL,60621,(773) 535-3530,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,"1,5E+14",117473035,1863740125,417814927,-8763494163,68,ENGLEWOOD,20,7,"(41.7814927, -87.63494163)"
562,610350,Robert A Black Magnet Elementary School,ES,9101 S Euclid Ave,Chicago,IL,60619,(773) 535-6390,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,"1,5E+14",1190807321,1844986038,4172965645,-8757660534,48,CALUMET HEIGHTS,8,4,"(41.72965645, -87.57660534)"
563,610154,Martin A Ryerson Elementary School,ES,646 N Lawndale Ave,Chicago,IL,60624,(773) 534-6700,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,"1,5E+14",1151558259,1904275283,4189321142,-8771883334,23,HUMBOLDT PARK,27,11,"(41.89321142, -87.71883334)"
564,610384,Infinity Math Science and Technology High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4225,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,"1,5E+14",1147521302,1883405128,4183601953,-8773419465,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"
565,609870,Daniel J Corkery Elementary School,ES,2510 S Kildare Ave,Chicago,IL,60623,(773) 534-1650,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,"1,5E+14",1148304879,1886901414,4184559878,-8773122946,30,SOUTH LAWNDALE,22,10,"(41.84559878, -87.73122946)"

##      EJERCICIOS:

# CHICAGO_CRIME_DATA

In [ ]:
# Problema 1: Encuentre el número total de delitos registrados en la tabla de delitos.
# Encuentra el numero total de crímenes almacenados en la tabla CHICAGO_CRIME_DATA
#SELECT nombre_de_la_tabla

selectQuery = "select COUNT(DISTINCT CASE_NUMBER) FROM CHICAGO_CRIME_DATA"
#Ejecutar la sentencia
Query = ibm_db.exec_immediate(conn, selectQuery)
# Obtener el resultado de la consulta
result = ibm_db.fetch_both(Query)
# Mostrar el número total de crímenes
print("Número total de crímenes almacenados en la tabla CHICAGO_CRIME_DATA:", result[0])

Número total de crímenes almacenados en la tabla CHICAGO_CRIME_DATA: 533

In [ ]:
# Problema 2: recupere las primeras 10 filas de la tabla CRIME.

selectQuery = "SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10"
#Ejecutar la sentencia
Query = ibm_db.exec_immediate(conn, selectQuery)
# Obtener el resultado de la consulta
result = ibm_db.fetch_both(Query)
#devolver los resultados de la busqueda dentro de un dataframe pandas
result = pandas.read_sql(selectQuery, pconn)
result

<ipython-input-15-b06bce7aba6e>:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pandas.read_sql(selectQuery, pconn)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,28/8/2004,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSO,FALSO,...,14,58,6,1155838,1873050,2004,10/2/2018,418074405,-8770395585,"(41.8074405, -87.703955849)"
1,3406613,HK456306,26/6/2004,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSO,FALSO,...,27,23,6,1152206,1906127,2004,28/2/2018,4189827996,-8771640551,"(41.898279962, -87.716405505)"
2,8002131,HT233595,4/4/2011,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,FALSO,FALSO,...,3,38,6,1177436,1876313,2011,10/2/2018,4181593313,-8762464213,"(41.815933131, -87.624642127)"
3,7903289,HT133522,30/12/2010,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,FALSO,FALSO,...,7,46,6,1194622,1850125,2010,10/2/2018,4174366532,-8756246276,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2/2/2016,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSO,FALSO,...,15,66,6,1155240,1860661,2016,10/2/2018,417734553,-8770648047,"(41.773455295, -87.706480471)"
5,7732712,HS540106,29/9/2010,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),FALSO,FALSO,...,27,24,6,1171668,1905607,2010,10/2/2018,4189644677,-8764493868,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,30/11/2016,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSO,FALSO,...,33,14,6,1154133,1933314,2016,10/2/2018,4197284491,-8770860008,"(41.972844913, -87.708600079)"
7,4494340,HL793243,16/12/2005,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,VERDADERO,FALSO,...,3,38,6,1180448,1879234,2005,28/2/2018,4182387989,-8761350386,"(41.823879885, -87.613503857)"
8,3778925,HL149610,28/1/2005,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSO,FALSO,...,19,72,6,1160129,1838040,2005,28/2/2018,4171128051,-876891791,"(41.711280513, -87.689179097)"
9,3324217,HK361551,13/5/2004,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSO,FALSO,...,35,21,6,1153590,1921084,2004,28/2/2018,4193929582,-8771092344,"(41.939295821, -87.710923442)"

In [ ]:
# Problema 3: ¿Cuántos delitos implican un arresto?
selectQuery = "SELECT COUNT(ARREST) FROM CHICAGO_CRIME_DATA WHERE ARREST = 'VERDADERO'"
#Ejecutar la sentencia
Query = ibm_db.exec_immediate(conn, selectQuery)
# Obtener el resultado de la consulta
result = ibm_db.fetch_both(Query)
print("Los delitos que implicaron un arresto en la tabla CHICAGO_CRIME_DATA son un total de:", result[0])

Los delitos que implicaron un arresto en la tabla CHICAGO_CRIME_DATA son un total de: 163

In [ ]:
# Problema 4: ¿Qué tipos únicos de delitos (por ejemplo, ROBO) se han registrado en las ubicaciones de una ESTACIÓN DE GAS?

# Definir la consulta para tipos únicos de delitos en una ESTACIÓN DE GAS
selectQuery = "SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION'"

# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener el resultado de la consulta
print("Tipos únicos de delitos en ubicaciones de una ESTACIÓN DE GAS:")
result = ibm_db.fetch_both(Query)
while result:
    print(result['PRIMARY_TYPE'])
    result = ibm_db.fetch_both(Query)

Tipos únicos de delitos en ubicaciones de una ESTACIÓN DE GAS:
CRIMINAL TRESPASS
NARCOTICS
ROBBERY
THEFT

# CENSUS_DATA

In [ ]:
# Problema 5: En la tabla CENSUS_DATA enumere todas las áreas de la comunidad cuyos nombres comiencen con la letra "B":
selectQuery = "SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%'"

# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener los resultados de la consulta
print("Las áreas de la ciudad que comienzan con 'B':")
result = ibm_db.fetch_both(Query)
while result:
    print(result['COMMUNITY_AREA_NAME'])
    result = ibm_db.fetch_both(Query)

Las áreas de la ciudad que comienzan con 'B':
Belmont Cragin
Burnside
Brighton Park
Bridgeport
Beverly

# CHICAGO_PUBLIC_SCHOOLS

In [ ]:
# Problema 6: Enumere las escuelas en las áreas comunitarias 10 a 15 que están certificadas como escuelas saludables:

selectQuery = "SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS WHERE COMMUNITY_AREA_NUMBER BETWEEN 10 AND 15 AND HEALTHY_SCHOOLS_CERTIFIED_ = 'Yes'"

# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener los resultados de la consulta
print("Las escuelas que se encuentran en las áreas comunitarias entre 10 y 15 donde su certificado sea saludable:")
result = ibm_db.fetch_both(Query)
while result:
    print(result['NAME_OF_SCHOOL'])
    result = ibm_db.fetch_both(Query)

Las escuelas que se encuentran en las áreas comunitarias entre 10 y 15 donde su certificado sea saludable:
Rufus M Hitch Elementary School

In [ ]:
# Problema 7: ¿Cuál es el puntaje promedio de seguridad escolar?

# Definir la consulta para obtener el puntaje promedio de seguridad escolar
selectQuery = "SELECT AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS"

# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener los resultados de la consulta
print("El puntaje promedio de seguridad escolar:")
result = ibm_db.fetch_both(Query)
if result:
    print(result['AVERAGE_SAFETY_SCORE'])
else:
    print("No se encontraron datos.")

El puntaje promedio de seguridad escolar:
49

In [ ]:
# Problema 8: Encuentre las 5 áreas comunitarias principales por matrícula universitaria promedio [número de estudiantes]
selectQuery = """
SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT__NUMBER_OF_STUDENTS_) AS COLLEGE_ENROLLMENT
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY COMMUNITY_AREA_NAME
ORDER BY COLLEGE_ENROLLMENT DESC
FETCH FIRST 5 ROWS ONLY
"""
# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)
# Obtener los resultados de la consulta
print("Las 5 áreas comunitarias principales por matrícula universitaria promedio:")
result = ibm_db.fetch_both(Query)
while result:
    print(f"{result['COMMUNITY_AREA_NAME']}: {result['COLLEGE_ENROLLMENT']}")
    result = ibm_db.fetch_both(Query)

Las 5 áreas comunitarias principales por matrícula universitaria promedio:
ARCHER HEIGHTS: 2411
MONTCLARE: 1317
WEST ELSDON: 1233
BRIGHTON PARK: 1205
BELMONT CRAGIN: 1198

In [ ]:
# Problema 9: Utilice una subconsulta para determinar qué área comunitaria tiene el menor valor para la puntuación de seguridad escolar

selectQuery = """
SELECT COMMUNITY_AREA_NAME, SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE SAFETY_SCORE = (
    SELECT MIN(SAFETY_SCORE)
    FROM CHICAGO_PUBLIC_SCHOOLS
)
"""

# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener los resultados de la consulta
print("El área comunitaria con el menor valor para la puntuación de seguridad escolar:")
result = ibm_db.fetch_both(Query)
while result:
    print(f"Community Area: {result['COMMUNITY_AREA_NAME']}, Safety Score: {result['SAFETY_SCORE']}")
    result = ibm_db.fetch_both(Query)

El área comunitaria con el menor valor para la puntuación de seguridad escolar:
Community Area: WASHINGTON PARK, Safety Score: 1

In [ ]:
# Problema 10: [Sin utilizar un operador JOIN explícito] Encuentre el ingreso per cápita del área comunitaria que tiene una puntuación de seguridad escolar de 1.

# Definir la consulta para obtener el ingreso per cápita del área comunitaria con puntuación de seguridad escolar de 1
selectQuery = "SELECT PER_CAPITA_INCOME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME = 'Washington Park'"
# Ejecutar la consulta
Query = ibm_db.exec_immediate(conn, selectQuery)

# Obtener los resultados de la consulta
result = ibm_db.fetch_both(Query)
print("El ingreso per cápita del área comunitaria con la puntuación de seguridad escolar de 1 es:", result[0])

El ingreso per cápita del área comunitaria con la puntuación de seguridad escolar de 1 es: 13785

In [ ]:
# pregunta 9
# select community_area_number, safety_score;safety_icon from chicago_public_schools
# where safety_incon='Very Weak' and safety_score<=(select min(safety_score) from chicago_public_schools)
# pregunta 10
select comunnity_area_bumber, per_capita_income from census_data where community_area_number=(select community_area_number from chicago_public_schools where safety_score='1')